* {
  font-family: 'Lucida Sans', Arial, Helvetica, sans-serif;
}
body {
  width: 800px;
  margin: 0em auto;
}

header h1 {
  font-size: 50px;
  margin: 0px;
  color: #006;
}

header h2 {
  font-size: 15px;
  margin: 0px;
  color: #99f;
  font-style: italic;
}
